<% include ../partials/header %>

    <h1 style="text-align: center; margin: 30px 0;">Edit comment </h1>
    <div class="row">
        <div style="width: 30%; margin: 30px auto;text-align: center;">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text%>" ></input>
                </div>

                    <button class="btn btn-large btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds"> Go back</a> 
        </div>
    </div>

<% include ../partials/footer %>
