@import 'https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display';

body{
    background-color: #000;
    font-family: 'Fjalla One';

}
#landing-header{
    z-index: 10;
    position: relative;
    text-align: center;
    /* padding-top: 40vh; */
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#landing-header h1{

  color: #20b481;
	font-weight: 900;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 150px;
  text-shadow: 5px 3px black;
}



.slideshow {
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
filter: blur(1rem) opacity(50%);


}
.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}
.slideshow li:nth-child(1){
    background-image: url("../images/IMG_5737.JPG");
}
.slideshow li:nth-child(2){
    background-image: url("../images/IMG_6056.JPG");
    animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url("../images/IMG_7074.JPG");
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
    background-image: url("../images/IMG_7819.JPG");
    animation-delay: 30s;
}
.slideshow li:nth-child(5){
    background-image: url("../images/IMG_8590.JPG");
    animation-delay: 40s;
}

.landing-button{
  background: #00000050;
  font-size: 2.5rem;
  border-radius: 2px;
  margin: 20px;
  color: white;
  border: 1px solid white;
}

.landing-button:hover{
  border: 1px solid #20b481;
  color: #FFF;
  transform: translateY(2px);

}


@keyframes imageAnimation{
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-in;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity:0;
    }
}

.no-cssanimations .slideshow li{
    opacity: 1;
}
